* {
  margin: 0px;
  padding: 0px;
}

body {
  min-width: 412px;
  color: white;
  background-color: black;
  font-size: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#hexboard {
  max-width: 905px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 50px;
}

.hex {
  display: inline-block;
  position: relative;
  width: 78px;
  height: 43.87862px;
  margin: 21.93931px 2px 3.4641px;
  color: rgba(255, 255, 255, 0.75);
  background-color: #55636e;
  font: 40px/43.87862px sans-serif;
  vertical-align: middle;
}

.hex::before, .hex::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  width: 53.74012px;
  height: 53.74012px;
  background-color: inherit;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleY(0.57735) rotate(-45deg);
          transform: scaleY(0.57735) rotate(-45deg);
}

.row-zero {
  background-color: #c95a00;
}

.row-one {
  background-color: #974400;
}

.row-two {
  background-color: #6d3100;
}

.row-three {
  background-color: #532400;
}

.row-four {
  background-color: #2f1500;
}

.row-five {
  background-color: #1d0e00;
}

.hex:hover {
  background-color: red;
}

.hex:hover::before, .hex:hover::after {
  background-color: red;
}

.right-of-board {
  width: 50vw;
  height: 95vh;
  background-color: #974400;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
  text-align: left;
  border: 1px solid black;
}

.right-of-board .top {
  min-height: 125px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.right-of-board .top .stats {
  margin-left: 0px;
  max-height: 100px;
  min-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bolder;
}

.right-of-board .top .stats .name {
  min-width: 200px;
}

.right-of-board .top .photo {
  margin-left: 10px;
  min-width: 100px;
  max-height: 100px;
  background-color: white;
  background-image: url(/assets/scary-man.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

.right-of-board .top .photo .level {
  font-size: 12px;
  font-weight: bolder;
  position: absolute;
  bottom: 0;
  margin-left: 5px;
}

.right-of-board .top .orbs {
  margin-left: 10px;
  width: 100%;
  height: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  gap: 5px;
}

.right-of-board .top .orbs .orb {
  font-weight: bolder;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  padding: 3px;
  background-color: rgba(220, 20, 60, 0.63);
}

.right-of-board .middle {
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
  border: 3px solid black;
  background-color: rgba(255, 255, 255, 0.555);
}

.right-of-board .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.right-of-board .bottom .deck {
  height: 175px;
  width: 131.25px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(0, 120, 0, 0.637);
  margin-right: 5px;
}

.right-of-board .bottom .deck #deck {
  padding: 5px;
}

.right-of-board .bottom .discard {
  height: 175px;
  width: 131.25px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(120, 0, 0, 0.637);
  margin-right: 5px;
}

.right-of-board .bottom .discard #discard {
  padding: 5px;
}

.right-of-board .bottom .board-details {
  height: 175px;
  width: 700px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.582);
  color: white;
}

.right-of-board .bottom .board-details .hand {
  display: inline-block;
  margin: 10px;
  padding: 3px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgba(0, 0, 120, 0.637);
}
/*# sourceMappingURL=styles.css.map */